<style>
    #geek-avatar img {
        width: 5rem;
        border-radius: 50%;
        margin: .5rem;
        cursor: pointer;
    }

    #geek-avatar .layui-tab-item {
        margin-left: 1rem;
    }
</style>
<div class="layui-tab layui-tab-brief" id="geek-avatar" lay-filter="avatar-tab">
    <ul class="layui-tab-title">
        <li class="layui-this">头像1</li>
        <li>头像2</li>
        <li>头像3</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <img data-th-src="@{geek/images/avatar/default.jpg}" title="点击更换">
            <img data-th-src="@{geek/images/avatar/1.jpeg}" title="点击更换">
            <img data-th-src="@{geek/images/avatar/2.jpg}" title="点击更换">
            <img data-th-src="@{geek/images/avatar/3.jpg}" title="点击更换">
            <img data-th-src="@{geek/images/avatar/4.jpg}" title="点击更换">
            <img data-th-src="@{geek/images/avatar/6.jpg}" title="点击更换">
            <img data-th-src="@{geek/images/avatar/7.jpg}" title="点击更换">
            <img data-th-src="@{geek/images/avatar/8.jpg}" title="点击更换">
            <img data-th-src="@{geek/images/avatar/9.jpg}" title="点击更换">
            <img data-th-src="@{geek/images/avatar/10.jpg}" title="点击更换">
            <img data-th-src="@{geek/images/avatar/11.jpg}" title="点击更换">
            <img data-th-src="@{geek/images/avatar/12.jpg}" title="点击更换">
        </div>
        <div class="layui-tab-item">
            <img data-th-src="@{geek/images/avatar/13.jpg}" title="点击更换">
            <img data-th-src="@{geek/images/avatar/14.jpg}" title="点击更换">
            <img data-th-src="@{geek/images/avatar/15.jpg}" title="点击更换">
            <img data-th-src="@{geek/images/avatar/16.jpg}" title="点击更换">
        </div>
        <div class="layui-tab-item">
            <img data-th-src="@{geek/images/avatar/17.jpg}" title="点击更换">
        </div>
    </div>
</div>
<script>
    layui.use(['element', 'jquery', 'geek'], function () {
        var $ = layui.jquery,
            element = layui.element,
            geek = layui.geek,
            $view = $('#geek-avatar');

        $view.find('img').each(function () {
            var $this = $(this);
            $this.on('click', function () {
                var $that = $(this);
                var target_src = $that.attr("src").replace('geek/images/avatar/', '');
                geek.get(ctx + 'user/avatar/' + target_src, null, function () {
                    layui.layer.closeAll();
                    geek.modal.confirm('修改成功', '是否马上刷新页面生效？', function () {
                        window.location.reload();
                    });
                })
            })
        })
    });
</script>
