<style>
    #geek-components-others .layui-card-header {
        font-weight: 600;
    }

    #geek-components-others p {
        margin-bottom: 10px
    }

    #geek-components-others .layui-badge {
        line-height: 20px;
        margin: .25rem .5rem .25rem 0;
    }

    #geek-components-others .alert {
        margin-bottom: .75rem;
    }
</style>
<div class="layui-fluid layui-anim geek-anim" id="geek-components-others" lay-title="其他组件">
    <div class="layui-row layui-col-space8 geek-container">
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Tag标签</div>
                <div class="layui-card-body">
                    <p>样式一</p>
                    <div>
                        <span class="layui-badge geek-tag-green">geek-tag-green</span>
                        <span class="layui-badge geek-tag-magenta">geek-tag-magenta</span>
                        <span class="layui-badge geek-tag-orange">geek-tag-orange</span>
                        <span class="layui-badge geek-tag-red">geek-tag-red</span>
                        <span class="layui-badge geek-tag-volcano">geek-tag-volcano</span>
                        <span class="layui-badge geek-tag-gold">geek-tag-gold</span>
                        <span class="layui-badge geek-tag-lime">geek-tag-lime</span>
                        <span class="layui-badge geek-tag-cyan">geek-tag-cyan</span>
                        <span class="layui-badge geek-tag-blue">geek-tag-blue</span>
                        <span class="layui-badge geek-tag-geekblue">geek-tag-geekblue</span>
                        <span class="layui-badge geek-tag-purple">geek-tag-purple</span>
                    </div>
                    <p>样式二</p>
                    <div>
                        <span class="layui-badge geek-bg-green">.geek-bg-green</span>
                        <span class="layui-badge geek-bg-magenta">geek-bg-magenta</span>
                        <span class="layui-badge geek-bg-orange">geek-bg-orange</span>
                        <span class="layui-badge geek-bg-red">geek-bg-red</span>
                        <span class="layui-badge geek-bg-volcano">geek-bg-volcano</span>
                        <span class="layui-badge geek-bg-gold">geek-bg-gold</span>
                        <span class="layui-badge geek-bg-lime">geek-bg-lime</span>
                        <span class="layui-badge geek-bg-cyan">geek-bg-cyan</span>
                        <span class="layui-badge geek-bg-blue">geek-bg-blue</span>
                        <span class="layui-badge geek-bg-geekblue">geek-bg-geekblue</span>
                        <span class="layui-badge geek-bg-purple">geek-bg-purple</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Alert告警提示</div>
                <div class="layui-card-body">
                    <div class="alert">
                        <span class="geek-alert-base geek-alert-success">Success Tips</span>
                    </div>
                    <div class="alert">
                        <span class="geek-alert-base geek-alert-info">Informational Notes</span>
                    </div>
                    <div class="alert">
                        <span class="geek-alert-base geek-alert-warn">Warning Message</span>
                    </div>
                    <div class="alert">
                        <span class="geek-alert-base geek-alert-error">Error Message</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
