<style>
    #geek-alert-base geek-alert-error {
        width: 160px;
    }
</style>
<div class="layui-fluid layui-anim geek-anim" id="geek-components-others" lay-title="历史任务">
    <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
        <div class="layui-card">
            <div class="layui-card-header">历史任务</div>
            <div class="layui-card-body">
                <div class="alert">
                    <span class="geek-alert-base geek-alert-error">模块开发中……</span>
                </div>
            </div>
        </div>
    </div>
</div>
